[submodule "submissions"]
    path = submissions
    url = https://github.com/huangyingw/submissions.git
[submodule "show"]
    path = show
    url = git@bitbucket.org:huangyingw/show.git
[submodule "remove_comments"]
	path = remove_comments
	url = git@github.com:huangyingw/remove_comments.git
[submodule "downloads"]
	path = downloads
	url = git@github.com:huangyingw/downloads.git
