[remote "origin"]
    url = https://github.com/skygragon/leetcode-cli.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[remote "bitbucket"]
    url = git@bitbucket.org:huangyingw/leetcode-cli.git
    fetch = +refs/heads/*:refs/remotes/bitbucket/*
[remote "gitlab"]
    url = git@gitlab.com:huangyingw/leetcode-cli.git
    fetch = +refs/heads/*:refs/remotes/gitlab/*
[push]
    remote = bitbucket
    remote = gitlab
[gsync]
    remote = origin
    branch = master
[merge]
    allow = true
[commit]
    message = n
[branch "lc/dev"]
    remote = bitbucket
    merge = refs/heads/lc/dev
[branch "dev"]
    remote = bitbucket
    merge = refs/heads/dev
[vrun]
    silent = false
    async = false
[gdif]
    ignore = *.md
    ignore = *.sh
    ignore = .gitmodules
    ignore = companies.list
    ignore = excludeFile
    ignore = lib/plugins/company.js
    ignore = lib/plugins/solution.discuss.js
    ignore = package-lock.json
    ignore = problems.list
    ignore = setup.cfg
    ignore = show
    ignore = submissions
    ignore = tags.list
    ignore = tags/*
