[remote "skygragon"]
    url = https://github.com/skygragon/leetcode-cli.git
    fetch = +refs/heads/*:refs/remotes/skygragon/*
[remote "bitbucket"]
    url = git@bitbucket.org:huangyingw/leetcode-cli.git
    fetch = +refs/heads/*:refs/remotes/bitbucket/*
[remote "gitlab"]
    url = git@gitlab.com:huangyingw/leetcode-cli.git
    fetch = +refs/heads/*:refs/remotes/gitlab/*
[push]
    remote = bitbucket
    remote = gitlab
[gsync]
    remote = skygragon
    branch = master
[merge]
    allow = true
[commit]
    message = n
[branch "lc/dev"]
    remote = bitbucket
    merge = refs/heads/lc/dev
[branch "dev"]
    remote = bitbucket
    merge = refs/heads/dev
[vrun]
    silent = true
    async = false
